<html xmls:th="http://thymeleaf.org" xmls:layout="http://www.ultraq.net.nz/thymeleaf/layouts">
<div th:fragment="header">
<div align="center">
</div>  

<!-- NavBar -->
<nav class="navbar navbar-dark navbar-expand-md" id="app-navbar">
        <div class="container-fluid"><a class="navbar-brand" href="#"></a><img src="../../assets/img/CFM.png" style="width: 65px;"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active">CFM Take Home</a></li>
                
                    <li class="nav-item"><a class="nav-link active" href="/login">Login</a></li>
                    
                    <li class="nav-item"><a class="nav-link active" href="/">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
 


</div>

</div>
</div>
</html>

