<html xmls:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CFM</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/styles.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md" id="app-navbar">
        <div class="container-fluid"><img src="../../assets/img/CFM.png" style="width: 65px;"><a class="navbar-brand" href="#"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">AddressBook</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/">Back</a></li>
                 
                </ul>
            </div>
        </div>
    </nav>
    <div class="bootstrap_datatables">
 
<div class="container py-5">
  <header class="text-center text-black">
    <h1 class="display-4">Address Book</h1>
  </header>
  
   	
  <div class="row py-5">
    <div class="col-lg-10 mx-auto">
      <div class="card rounded shadow border-0">
        <div class="card-body p-5 bg-white rounded">
          <div class="table-responsive">
            <table id="example" style="width:100%" class="table table-striped table-bordered">
            
            <a th:href ="@{/AddressBook/CreateContactForm}"> Create Book Contact </a>
              <thead>
                <tr>
                
                 
                  <th>LocationName</th>
                  <th>Phone</th>
                  <th>Steet</th>
                  <th>ZipCode</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Edit</th>
                  <th>Delete<th>
                  
                </tr>
              </thead>
              <tbody>
                <tr th:each="contact : ${contacts}">
               <td style="text-align: center;" th:text="${contact.locationname}">Location Name</td>
                <td style="text-align: center;"th:text="${contact.phone}">Phone</td>
                <td style="text-align: center;"th:text="${contact.street}">Street</td>
               <td style="text-align: center;"th:text="${contact.zipcode}">Zip Code</td>
             <td style="text-align: center;"th:text="${contact.city}">City</td>
             <td style="text-align: center;"th:text="${contact.state}">State</td>
             <td>
             <a th:href ="@{/AddressBook/editForm(id=${contact.id})}">Edit </a>
             </td>
             <td>
             
          
              <a th:href ="@{/AddressBook/delete(id=${contact.id})}"> Delete </a>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../assets/js/script.min.js"></script>
</body>

</html>