<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CFM</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/styles.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md" id="app-navbar">
        <div class="container-fluid"><a class="navbar-brand" href="#"><img src="assets/img/CFM.png" style="width: 66px;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">First Item</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Second Item</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Third Item</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="register-photo" style="background-color: transparent;width: 1206px;">
        <div class="form-container" style="margin-top: 40px;">
        	
            <form th:object="${contact}" th:action="@{/AddressBook/processdelete}" method="post"style="height: 212px;width: 443px;margin-top: 73px; margin-bottom: 73px; padding: 134px 60px;max-width: 50px;min-width: -10px; margin-left: auto !important; margin-right: auto !important;">
            <input hidden th:field="*{id}"></input>
                <h2 class="text-center" style="height: 35px;font-size: 31px;"><strong>Are you sure you want to delete?</strong></h2>
    
                <div id="passwordsError" style="display: none;margin-bottom: 16.5px;"><span id="errorMessage" class="text-danger" style="font-size:13px;"></span></div>
                <div class="form-group mb-3"><button class="btn btn-primary d-block w-100" id="submitButton" type="submit" style="color: rgb(255,255,255);background-color: #00b5a8;min-width: 115px;height: 69px;font-size: 33px;">Confirm</button><button class="btn btn-primary d-block w-100" id="submitButton-1" type="submit" style="color: rgb(255,255,255);background-color: #00b5a8;min-width: 137px;height: 78px;max-width: -6px;font-size: 33px;">Cancel</button></div>
            </form>
           
        </div>
    </section>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../assets/js/script.min.js"></script>
</body>

</html>
<style>
.form{
	margin-left: auto !important;
	margin-right: auto !important;
	
}