
<html xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nx/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CFM</title>
   
</head>

<body>

    <section class="register-photo" style="background-color: transparent;width: 1206px;">
        <div class="form-container" style="margin-top: 40px;">
        	
            
                <h2 class="text-center" style="height: 35px;font-size: 31px;"><strong>Are you sure you want to delete?</strong></h2>
                <div class="form-group mb-3">
                
                
 			<a th:href ="@{/AddressBook/processdelete}"> DELETE </a>
 			
            <a th:href ="@{/AddressBook/}"> CANCEL </a>
                
           
        </div> 
        </div>
    </section>
 
</body>

</html>
<style>
a{
	padding: 50px;
	
}
